.meal-listing {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}


.no-data {
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  margin-top: 6rem;
  width: 100%;
}